body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

hr {
    background-color: #17a3b8;
    height: 2px !important;
}

.bg-ligth-blue {
    background-color: #17a3b8;
}

.bg-black {
    background-color: black
}

.svg-image {
    width: 2rem
}

#destacado img {
    height: 10rem;
    overflow-x: hidden;
    object-fit: cover;
}


/*.card-images {}

@media (max-width: 768px) {
    .card-images {
        max-height: 100%;
    }
}*/