body {
    font-family: 'Open Sans', sans-serif;
    background-color: black;
}

hr {
    background-color: #3cc4d4;
    height: 2px !important;
}

.bg-ligth-blue {
    background-color: #3cc4d4;
}

.bg-black {
    background-color: black
}

.svg-image {
    width: 2rem
}


/*.card-images {}

@media (max-width: 768px) {
    .card-images {
        max-height: 100%;
    }
}*/